
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TUFFIX PROFESSIONAL</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/tuffix.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <script src="js/live.js"></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
     <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"  style="color:#fff;" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                
                </div>
           
                   
  
                    
               

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="products.html">products</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Careers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    
    
     <!-- logo --><div class="container">
    <div class="logo-holder"><div class="logo"><img src="img/logo.png"></div></div></div>
    
     
         
             <div class="dropdown-bar">
            <div class="dropdown-holder"> <div class="container">
                <div class="dropdown-bk"> 
                    
                   <div class="container">
                    <div class="navbar-right">
                
                <ul class="nav navbar-nav">
                    
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><div class="icon"><img src="img/icons/fastner-icon.png"></div>FASTNERS<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Screws</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Metal Anchors</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Plastic Anchors</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Revits</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Bits</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><div class="icon"><img src="img/icons/paintingtoos-icon.png"></div>PAINTING TOOLS<b class="caret"></b></a>
                        <ul class="dropdown-menu">                            
                            <li><a href="#">Rollers</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Refills</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Brushes</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Accessories</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Bits</a></li>
                        </ul>
                    </li>
                    
                    
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><div class="icon"><img src="img/icons/tools-icon.png"></div>TOOLS<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        <li><a href="#">Calipers</a></li>
                        <li class="divider"></li>
                        <li><a href="products.html">Tile Cutters</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Showels</a></li>
                        </ul>
                    </li>
                    
                    
                    
                </ul>
                        
            </div>
                       
                       
            </div>
                
                
                </div>
                </div>               
            
    </div>
    </div>
        
    
    
    <div class="spacer"></div>    <div class="spacer"></div>

<div class="container padding-top-100">
    <div class="row">
        <p style="font-weight:400;color:#4e4e4e;padding-left:40px">
            <strong>products > tools > </strong><light>tile cutters</light>
        </p>
    </div>
    <div class="row">
        <!-- Left Side -->
        <div class="col-md-8">
            <div class="col-md-12 padding-top-50">
                <div class="col-md-5"><div class="row"><div class="item-img"><img src="img/products/tile-cutter-2.png"></div></div></div>
                
                <div class="col-md-7">       
                    
                    <div class="row"><div class="item-box"><div class="vsplit1"><h4>TILE CUTTER<br>POCKET CUTTER</h4></div></div></div>
                    <div class="row"><div class="item-box yellow"><div class="vsplit1"><h4>PRODUCT</h4></div><div class="vsplit2"><p>Pocket cutters</p></div></div></div>
                    <div class="row"><div class="item-box"><div class="vsplit1"><h4>Size</h4></div><div class="vsplit2"><p>X600</p></div></div></div> 
                    
                </div>
            </div>
        </div>

        <!-- Right Side -->
        <div class="col-md-4">
            <p>TUF-FIX brand’s core focus is on Fasteners & Fixings, Painting Tools & Accessories, Locks and General Tools. With a comprehensive range of industrial Fasteners and Fixings including screws, nuts, washers, bolts, rivets, nails, paint brushes, rollers, calipers, shovels, locks, tile cutters, and more. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 padding-top-50 product-spec">
            <table><caption><strong>Specfication</strong></caption>
                <thead>
                    <tr>
                        <td>SIZE </td>
                        <td>LENGTH </td>
                        <td>&nbsp;</td>
                        <td>SIZE</td>
                        <td>LENGTH</td>
                    </tr>
                </thead>
                <tbody>
                <tr>
                <td>#6</td>
                <td> X &frac12;"</td>
                <td>&nbsp;</td>
                <td> #10 </td>
                <td> X &frac12;"</td>
                </tr>

                <tr>
                <td> #6 </td>
                <td> X &frac34;"</td>
                <td>&nbsp;</td>
                <td> #10 </td>
                <td> X &frac34;"</td>
                </tr>

                <tr>
                <td> #6 </td>
                <td> X 1"</td>
                <td>&nbsp;</td>
                <td> #10 </td>
                <td> X 1"</td>
                </tr>

                <tr>
                <td> #6 </td>
                <td> X 1 &frac14;"</td>
                <td>&nbsp;</td>
                <td> #10 </td>
                <td> X 1 &frac14;"</td>
                </tr> 

                <tr> 
                <td> #6 </td>
                <td> X 1 &frac12;"</td>
                <td>&nbsp;</td>
                <td> #10 </td>
                <td> X 1 &frac12;"</td>
                </tr>

                <tr>
                <td> #6 </td>
                <td> X 2"</td>
                <td>&nbsp;</td>
                <td> #10 </td>
                <td> X 2"</td>
                </tr>

                <tr>
                <td> #8 </td>
                <td> X &frac12;"</td>
                <td>&nbsp;</td>
                <td> #12 </td>
                <td> X &frac34;"</td>
                </tr>

                <tr>
                <td> #8 </td>
                <td> X &frac34;"</td>
                <td>&nbsp;</td>
                <td> #12 </td>
                <td> X 1"</td>
                </tr>

                <tr>
                <td> #8 </td>
                <td> X 1"</td>
                <td>&nbsp;</td>
                <td> #12 </td>
                <td> X 1 &frac12;"</td>
                </tr>

                <tr>
                <td> #8 </td>
                <td> X 1 &frac14;"</td>
                <td>&nbsp;</td>
                <td> #12 </td>
                <td> X 2"</td>
                </tr>

                <tr>
                <td> #8 </td>
                <td> X 1 &frac12;"</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                </tr> 

                <tr> 
                <td> #8 </td>
                <td> X 2"</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>
    
    
<div class="spacer"></div>
   
    

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/tuffix.js"></script>

</body>

</html>
